.nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style: none;
    border: 5px;
    border-style: solid;
    border-color: blue;

    width: 800px;

}

.nav-list li{
    border: 3px;
    border-style: solid;
    border-color: red;

    flex-basis: 100%;
    
}